.productWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;   
}

.productCard {
    position: relative;
    margin-right: 2%;
    width: 23%;
    min-height: 300px;
    margin-bottom: 30px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;  
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);
}

.productImg {
    min-height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;   
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; 
    cursor:pointer;
    position:relative;
    i{
        position:absolute;
        top:50%;
        left:45%;
    }
}

.productCard a {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    background-color: #000000;
    color: #ffffff;
    padding: 16px 0;
    text-align: center;
    border: none;
    text-decoration: none;

    &:hover{
        background-color: #2aaeeb;
    }
}

.productCard h3 {
    font-size: 1rem;
    font-weight: bold;
}

@media (max-width: 900px) {
    .productCard {
        width: 48%;
    }
  }
  
@media (max-width: 540px) {
    .productCard {
        width: 100%;
    }
}

.productType {
    position: absolute;
    top: 13px;
    right: -5px;
    z-index: 5;
    background-color: #000000;
    color: #ffffff;
    padding: 8px 24px;
}
.cardItem-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    img{
        margin-right: 15px;
        max-width: 80px;
        object-fit: cover;
    }        
}
